html {
  font-size: 14px;
}

body {
	background-color: #EEE;
}


.nav-subscribe i.el {
  font-size: 0.8em;
  margin-right: 3px;
  margin-bottom: 4px;
  display:inline-block;
}

.nav-social i.el {
  font-size:1.2em;
}

/* Header */

header {
	background: url('/images/bg.jpg') no-repeat center center #392b40;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	margin-bottom: 0;

}

header h1 {
	padding: 60px 0 20px 0;
	text-align: center;
}

header nav ul.nav-pills>li>a {
	border-radius: 0px;
}

/* Footer */

footer {
	margin-top: 0;
  padding-top: 40px;
  padding-bottom: 20px;
	background-color: #333;
	color: #FFF;
}

footer h2 {
	text-transform: uppercase;
	font-size: 1em;
	color: #FFF;
	font-weight: bold;
}

footer ul {
	list-style-type: none;
	padding: 0;
}

footer ul li {
	color: #777;
}

footer ul li a {
	color: #777;
}

footer ul li a:hover {
	color: #666;
	text-decoration: none;
}

footer p.licence {
	color: #777;
	text-align: center;
	margin-top: 20px;
}

/* Main */

a.show {
	margin-top: 15px;
	margin-bottom: 15px;
}

.show-cover {
	width: 100%;
  padding-bottom: 100%;
	border: 1px solid #BBB;
	background-color: #DDD !important;
}

a:hover .show-cover {
	width: 100%;
  padding-bottom: 100%;
	border: 1px solid #5D4370;
	background-color: #DDD !important;
}

.cover {
	margin-left: auto;
	margin-right: auto;
}

.covers-grid {
	padding-top: 40px;
	padding-bottom: 40px;
}

article.show {
	padding-bottom: 40px;
}

article.show h1 {
	font-size: 3.5em;
	text-align: center;
	margin: 40px 0 10px 0;
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
}

article.show p {
	font-size: 1.2em;
	margin-top: 10px;
	margin-bottom: 10px;
	/*text-align: justify;*/
}

article.show ul {
	margin-bottom: 10px;
}

article.show ul li {
	font-size: 1.2em;
}

article.show p.date {
	color: #5D4370;
}

.audioplayer {
	margin-bottom: 20px;
}

.full-width {
	display: block;
	margin-bottom:5px
}

.subscribe {
	margin: 20px 0;
}

.subscribe .el {
	margin-right: 8px;
}

.btn-podcast {
	background-color: #A851DA;
	border-color: #8435C0;
	color: #FFF;
}

.btn-podcast:hover {
	background-color: #8435C0 !important;
	border-color: #8435C0;
	color: #FFF;
}

.btn-rss {
	background-color: #FE8B49;
	border-color: #FD6F26;
	color: #FFF;
}

.btn-rss:hover {
	background-color: #FD6F26;
	border-color: #FD6F26;
	color: #FFF;
}

.panel-detail .panel-heading {
	padding: 0;
	width: 100%;
  padding-bottom: 100%;
}

article p.show_detail {
	font-size: 1.1em;
	color: #666;
	margin-top: 0;
	margin-bottom: 2px;
}

.panel-download {
	margin-top: 40px;
}

.panel-download h2 {
	margin-top: 0;
	padding-bottom: 8px;
	font-size: 1.2em !important;
	font-weight: 400 !important;
	border-bottom: 1px solid #C8C8C8;
}

hr {
	border-top: 1px solid #999;
}

article.show h2 {
	padding-top:10px;
	font-size: 1.7em;
	font-weight: 600;
}

article.show .page-header {
  margin-bottom:40px;
}

article.show .content {
  margin-bottom:40px;
}

article.show .content a {
	color: #666;
	text-decoration: none;
}

article.show .content a:hover {
	border-bottom: 1px dotted #666;
}

.show-cover p {
	display: none;
}

a.show p.title {
	margin-top: 7px;
	margin-bottom: 0;
	color: #333;
	font-size: 1em;
}

a.show p.date {
	margin-top: 0;
	color: #999;
	font-size: 1em;
  margin-bottom: 25px;
}

a.show:hover {
	text-decoration: none;
}

p.punchline {
	color: white;
	font-style: italic;
	text-align: center;
	font-size: 1.4em;
	font-weight: 100;
	margin-bottom: 40px;
}

div.show_section {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  margin-top: 20px;
}

div.cover_source p {
  font-size: 1em;
}
