@import url(http://fonts.googleapis.com/css?family=Economica:400,700);

html,body{ margin:0; padding:0; height:100%; width:100%; background-color: #1D1D1D;}

article.article {
}

.overlay {
	min-height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	display: block;
}

.clear {
	clear: both;
}

a.show-title {
	display: inline-block;
}

a {
	color: #9774bd;
}

a:hover {
	color: #7c5e9c;
}

.article section a:hover {
	text-decoration: none;
	border-bottom: 1px dotted #7c5e9c;
}

.show-title h1 {
	clear: both;
	background-color: #47345b;
	color: #ffffff;
	display: inline-block;
	padding: 10px 20px;
	font-size: 5em;
	font-family: 'Economica';
	box-shadow: 1px 1px 10px #000;
	font-weight: bold;
}

.show-title h1 span.number {
	color: #e63c1e;
}

.navbar-default {
	background-color: #47345b;
	border-color: #2f233d;
}

.navbar-default .navbar-nav>li>a {
	color: #FFF;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: #fdd643;
	background-color: #2f233d;
}

.icons {
	bottom: 20px;
	background-color: red;
	position: relative;
	display: inline-block;
}

.socialNav {
	position: fixed;
	bottom: 0px;
	right: 0px;
}

.socialNav .btn {
	border-radius: 0px;
	border: 0px;
}

.shadow {
	box-shadow: 1px 1px 10px #000;
}

.squareIframe {
	/*padding-bottom: 30%;*/
}

.icoPodcast {
	background-color: #561866;
	color: white;
	font-size: 1.6em;
}

.icoRss {
	background-color: #ff6000;
	color: white;
	font-size: 1.6em;
}

.icoTwitter {
	background-color: #00aced;
	color: white;
	font-size: 1.6em;
}

.icoFacebook {
 	background-color: #3b5998;
	color: white;
	font-size: 1.6em;
}

.icoSoundcloud {
	background-color: #FF7700;
	color: white;
	font-size: 1.6em;
}

.icoPodcast:hover {
	background-color: #561866 !important;
	color: #EEE;
}

.icoRss:hover {
	background-color: #ff6000;
	color: #EEE;
}

.icoTwitter:hover {
	background-color: #00aced;
	color: #EEE;
}

.icoFacebook:hover {
	background-color: #3b5998;
	color: #EEE;
}

.icoSoundcloud:hover {
	background-color: #FF7700;
	color: #EEE;
}

.content {
	margin-top: 50px;
}

.article section {
	margin-top: 30px;
	margin-bottom: 50px;
	/*background-color: rgba(255, 255, 255, 0.8);
	padding: 25px 30px 18px 30px;*/
	font-size: 1.3em;
	color: #ffffff;
	font-weight: lighter;
	margin-right: 50px;
}

.article aside {
	margin-bottom: 50px;
}

.btn-download {
	margin-top: 10px;
	border-radius: 0px;
	border: 0px;
}

.pager {
	margin-bottom: 20px;
}
