<nav class="navbar navbar-default navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="https://itunes.apple.com/us/podcast/poligeek/id368413020"><i class="el el-podcast"></i> S'abonner sur iTunes</a></li>
        <li><a href="/podcast.xml"><i class="el el-rss"></i> Fil RSS</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://facebook.com/poligeek"><i class="el el-facebook"></i></a></li>
        <li><a href="https://twitter.com/poligeek"><i class="el el-twitter"></i></a></li>
      </ul>
    </div>
  </div>
</nav>
