<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<title>{{ page.title }}</title>
<link rel="stylesheet" type="text/css" media="all" href="/css/style.css" />
<link rel="stylesheet" type="text/css" media="all" href="/css/custom.css" />
<link rel="stylesheet" type="text/css" href="/css/media-queries.css" />
<link rel="stylesheet" type="text/css" href="/js/player/mediaelementplayer.css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,300,700,700italic|Open+Sans+Condensed:300,700' rel="stylesheet" type='text/css'>
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="/css/ie8.css" media="all" />
<![endif]-->
<!--[if IE 9]>
<link rel="stylesheet" type="text/css" href="/css/ie9.css" media="all" />
<![endif]-->
<script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="/js/retina.js"></script>
<script type="text/javascript" src="/js/selectnav.js"></script>
<script type="text/javascript" src="/js/jquery.masonry.min.js"></script>
<script type="text/javascript" src="/js/jquery.fitvids.js"></script>
<script type="text/javascript" src="/js/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="/js/mediaelement.min.js"></script>
<script type="text/javascript" src="/js/mediaelementplayer.min.js"></script>
<script type="text/javascript" src="/js/jquery.dcflickr.1.0.js"></script>
<script type="text/javascript" src="/js/twitter.min.js"></script>
<script type="text/javascript">
	$.backstretch("/images/bg/bg.jpg");
</script>
</head>
<body>
<div class="scanlines"></div>



<!-- Begin Wrapper -->
<div class="wrapper"><!-- Begin Intro -->

<div class="logo-home">
	<a href="/"><img src="/images/logo.png" alt="{{ page.title }}" /></a>
</div>
<div class="intro">{{ site.description }}</div>
<ul class="social">
<li><a class="rss" href="/podcast.xml"></a></li><li><a class="facebook" href="http://fb.com/poligeek"></a></li><li><a class="twitter" href="http://twitter.com/poligeek"></a></li></ul><!-- End Intro --> 

{{ content }}

</div>
<!-- End Wrapper -->

<!-- Begin Footer -->
<div class="footer-wrapper">
<div id="footer" class="four">
		<div class="site-generator">Poligeek - CC by-nc-sa 3.0 FR</div>
</div>	
</div>
<!-- End Footer --> 
<script type="text/javascript" src="/js/scripts.js"></script>
</body>
</html>