---
layout: default
---

<article class="show">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="page-header">
					<h1>{% if page.number %}#{{ page.number }} - {% endif %}{{ page.title }}</h1>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-5">
        <div class="card">
          <img class="card-img-top img-fluid" src="/images/covers/cover{{ page.number }}.light.png" alt="{% if page.number %}#{{ page.number }} - {% endif %}{{ page.title }}">
          <div class="card-block">
            <p class="card-text"><p class="show_detail"><strong>{% assign m = page.date | date: "%-m" %}{{ page.date | date: "%-d" }} {% case m %}{% when '1' %}janvier{% when '2' %}février{% when '3' %}mars{% when '4' %}avril{% when '5' %}mai{% when '6' %}juin{% when '7' %}juillet{% when '8' %}août{% when '9' %}septembre{% when '10' %}octobre{% when '11' %}novembre{% when '12' %}décembre{% endcase %} {{ page.date | date: "%Y" }}</strong></p>
						{% if page.date != page.record_date %}<p class="show_detail">Enregistré le {% assign m = page.record_date | date: "%-m" %}{{ page.record_date | date: "%-d" }} {% case m %}{% when '1' %}janvier{% when '2' %}février{% when '3' %}mars{% when '4' %}avril{% when '5' %}mai{% when '6' %}juin{% when '7' %}juillet{% when '8' %}août{% when '9' %}septembre{% when '10' %}octobre{% when '11' %}novembre{% when '12' %}décembre{% endcase %} {{ page.record_date | date: "%Y" }}</p>{% endif %}
						<p class="show_detail">Durée : <samp>{{ page.duration }}</samp></p></p>
          </div>
        </div>
      </div>
      
			<div class="col-md-7">
				<audio src="http://storage.poligeek.fr/poligeek{{ page.number }}.mp3" preload="auto"></audio>
				<script src="/js/audioplayer.min.js"></script>
				<script>$( function() { $( 'audio' ).audioPlayer(); } );</script>

				<div class="content">
					{{ content }}
          
          {% include show/sources.html %}
          {% include show/big_ups.html %}
          {% include show/cover_source.html %}
				</div>

				{% include show/download_panel.html %}
				{% include show/comments_panel.html %}
			</div>
		</div>
	</div>
</article>
