---
layout: default
---

<div id="page" class="container small">
	<section>
		<header class="major">
			<h2>{{ page.title }}</h2>
			<span class="byline">{{ page.date | date_to_string }}</span>
		</header>

		<a href="{{ page.soundcloud_url }}" class="btn btn-primary"><span class="glyphicon glyphicon-headphones"></span> Ecouter sur Soundcloud</a>
		<a href="{{ page.download_url }}" class="btn btn-success"><span class="glyphicon glyphicon-download-alt"></span> Télécharger en MP3</a>
		<br/><br/>

		<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url={{ page.soundcloud_url | uri_escape }}&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
		<br/><br/>

		{{ content }}
	</section>
</div>
